<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link type="text/css" rel="stylesheet" href="{$view_css_dir}/style.css" />

</head>
<body>


<div class="roomClass">

    <div id="roomInfo" class="roomInfo">
        <span>聊天室名称:{$roomInfo.name}</span>
        <span>聊天室描述:{$roomInfo.room_desc}</span>
        <span>聊天室管理员:{$roomInfo.room_admin}</span>
    </div>

    <div id="contentWindow" class="contentWindow">
    </div>

    <div id="inputWindow" class="inputWindow">
       <textarea rows="3" cols="50"></textarea>
        <input type="button" name="" class="sendBtn" value="发送">
    </div>

    <div id="userList">

    </div>

</div>

</body>
</html>