<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>聊天室demo</title>
    <link type="text/css" rel="stylesheet" href="{$view_css_dir}/style.css" />
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="{$view_css_dir}/ui-dialog.css">


    <script>
        //按照包来管理
        T = {};
        T.D = {};

        T.D = (function(){
            var d = {
                "ROOT"   : "__ROOT__", //当前网站地址
                "APP"    : "__APP__", //当前项目地址
                "PUBLIC" : "__PUBLIC__", //项目公共目录地址
                "FIRST_USER":{$first_user}
            }
            return d;
        })();

    </script>

</head>

<body>

<br>
<br>
<br>


    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        <span>聊天室名称:{$roomInfo.name}</span>
        <span>聊天室描述:{$roomInfo.room_desc}</span>
        <span>聊天室管理员:{$roomInfo.room_admin}</span>
        <span>当前用户昵称:<span id="loginUserSpan">{$nickname}</span></span>
        <input type="hidden" id="loginUser" value="{$nickname}">

        <input type="hidden" id="rootId" value="{$roomInfo.id}">

    </div>
    <div id="convo" data-from="{$roomInfo.room_admin}">
        <ul class="chat-thread" id="msgContent">
            <include file="content.inc" />
        </ul>
    </div>

    <if condition="$client eq 1">
        <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
            <button id="praiseBtn">点赞</button>
        </div>
     <else/>
        <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
            <textarea style="margin: 0px; width: 768px; height: 121px;" id="sendContent"></textarea>
            <button id="sendBtn">发送</button>
        </div>
    </if>



<script src="{$view_js_dir}/dialog-min.js"></script>
<script src="{$view_js_dir}/chat_room.js"></script>
</body>
</html>